SEARXNG_BASE_URL=https://localhost/
SEARXNG_SECRET=ultrasecretkey
SEARXNG_REDIS_URL=redis://redis:6379/0

## Comment to allow UWSGI spawn as many workers as CPU cores you have (careful)
UWSGI_WORKERS=2

UWSGI_THREADS=3