[Container]
Image=docker.io/searxng/searxng:latest
ContainerName=searxng
Network=searxng.network
PublishPort=127.0.0.1:60000:8080
EnvironmentFile=%h/.env.searxng
Volume=%h/.portal/searxng-config:/etc/searxng:Z
AutoUpdate=registry
NoNewPrivileges=true

[Unit]
Requires=valkey.service
After=valkey.service

[Service]
Restart=always
RestartSec=5
TimeoutStartSec=300