[Container]
Image=cgr.dev/chainguard/valkey:latest
ContainerName=searxng-valkey
Network=searxng.network
Volume=searxng-valkey:/data
AutoUpdate=registry
NoNewPrivileges=true

[Service]
Restart=always
RestartSec=5
TimeoutStartSec=300